<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Soulmate Bootstarp Website Template | Home :: w3layouts</title>
<link href="/assets/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="/assets/css//style.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<!--dropdown-->
<script src="/assets/js"/jquery-1.11.1.min.js"></script>
<script src="/assets/js"/jquery.easydropdown.js"></script>
<!-- FlexSlider -->
<link href="/assets/css//flexslider.css" rel='stylesheet' type='text/css' />
							  <script defer src="/assets/js"/jquery.flexslider.js"></script>
							  <script type="text/javascript">
								$(function(){
								  SyntaxHighlighter.all();
								});
								$(window).load(function(){
								  $('.flexslider').flexslider({
									animation: "slide",
									start: function(slider){
									  $('body').removeClass('loading');
									}
								  });
								});
							  </script>
<!-- FlexSlider -->
<!--Animation-->
<script src="/assets/js"/wow.min.js"></script>
<link href="/assets/css//animate.css" rel='stylesheet' type='text/css' />
<script>
	new WOW().init();
</script>
</head>
<body>
<div class="header wow fadeInUp" data-wow-delay="0.4s">
	<div class='container'>
		<div class="header_left">
			<img src="/assets/images/rate.png" alt=""/>
		</div>
		<div class="logo">
			<a href="index.html"><img src="/assets/images/sciencemingle.png" alt="" height="75" width="75"/>
				<span>Science Mingle</span>
			</a>
		</div>
		<div class="header_right">
			<ul class="header_user_info">
			  <a class="login" href="login.html">
				<li class="user_desc"><span class="m_1">Already user ? </span>Login</li>
				<i class="user"> </i> 
				<div class="clearfix"> </div>
			  </a>
			  <div class="clearfix"> </div>
	    	</ul>
			<a href="register.html" class="btn1 btn-1 btn1-1b">Sign Up</a>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<div class="banner wow bounceInRight" data-wow-delay="0.4s">
	<div class="container"> 
	   <div class="banner_right">
		   <h2>Find a perfect date</h2>
		   <h1>Share your perfect moments </h1>
		   <ul class="button">
			 <li><a href="#" class="btn1 btn2 btn-1 btn1-1b">Get Started</a></li>
			 <li><a href="#" class="btn1 btn2 btn-1 btn1-1b">Learn More</a></li>
		   </ul>
	   </div>
	</div>
</div>
<div class="content_top">
  <div class="container">
	<div class="col-md-6 grid_1">
	  <h2>London Lovestory</h2>
	  <iframe width="" height="" src="//www.youtube.com/embed/6KkS2mQsmw8" frameborder="0" allowfullscreen></iframe>
	</div>
	<div class="col-md-6">
		<section class="slider">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<div class="banner-info">
							   <h3>Meet Jesica and Adam</h3>
							   <h4><span class="m_2">"</span> my true love here<span class="m_2"> "</span></h4>
							   <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent.</p>	
							   <h5><a href="#">Adam Chamler ,</a>Dateratr since 2014</h5>
							</div>
						</li>
						<li>
							<div class="banner-info">
							   <h3>Meet Jesica and Adam</h3>
							   <h4><span class="m_2">"</span> my true love here<span class="m_2"> "</span></h4>
							   <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent.</p>	
							   <h5><a href="#">Adam Chamler ,</a>Dateratr since 2014</h5>
							</div>
						</li>
						<li>
							<div class="banner-info">
							   <h3>Meet Jesica and Adam</h3>
							   <h4><span class="m_2">"</span> my true love here<span class="m_2"> "</span></h4>
							   <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent.</p>	
							   <h5><a href="#">Adam Chamler ,</a>Dateratr since 2014</h5>
							</div>
						</li>
				    </ul>
				 </div>
	      </section>
	</div>
  </div>
</div>
<div class="content_middle wow fadeInUp" data-wow-delay="0.4s">
	<div class="container">
	   <div class="col-md-9 grid_2">
	   	  <h3>Start Dating Now !</h3>
	   	  <h4>Download our mobile apps and start dating right now.</h4>
	   	  <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore.</p>
	      <ul class="apps wow fadeInLeft" data-wow-delay="0.4s">
		    <li><a href="#"><i class="app"></i></a></li>
			<li><a href="#"><i class="google"></i></a></li>
		  </ul>
		   <h5>OR</h5>
		   <a href="#" class="btn3 btn-3 btn3-1b">Sign Up</a>
	   </div>
	   <div class="col-md-3 grid_3 wow fadeInRight" data-wow-delay="0.4s">
	   	   <span> </span>
	   </div>
	</div>
</div>
<div class="content_bottom">
	<div class="container">
	  <div class="box1">
			{{yield}}	
		  <div class="clearfix"> </div>
	  </div>
	  <div class='span1'>
		  <select class="dropdown" tabindex="10" data-settings='{"wrapperClass":"metro1"}'>
		    <option value="0">More Profiles</option>	
			<option value="1">Tincidunt</option>
			<option value="2">Magna</option>
			<option value="3">Lectores </option>
			<option value="4">Insitam</option>
			<option value="5">Claritatem </option>
			<option value="5"></option>
			<option value="5"></option>
		  </select>
	  </div>
	  <div class='clearfix'> </div>
	  <div class="search wow bounceInUp" data-wow-delay="0.4s">
   	    <h3>Looking for someone ? </h3>
   	    <form>
		 <span>
		   <div class="search-box">
		   	<i class="search-icon"> </i>
		    <input type="text" value="Type something here..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Type something here...';}">
		   </div>
		   <input name="submit" type="submit" id="submit" value="Search">
		 </span>	
		<div class="clearfix"> </div>
	    </form>
	   <h4>Disclaimer</h4>
	   <p class="m_2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
       <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum. </p>
      </div>
   </div>
</div>
<div class="footer">
	<div class="container">
		<div class="/assets/css/menu wow fadeInLeft" data-wow-delay="0.4s">
		  <ul>
			<li class="active"><a href="#">Home</a></li> 
			<li><a href="about.html">About</a></li>
			<li><a href="profiles.html">Add Profile</a></li>
			<li><a href="contact.html">Contact</a></li>
		  </ul>
	    </div>
	    <div class="copy wow fadeInUp" data-wow-delay="0.4s">
			<p>&copy; 2014 Template by <a href="http://w3layouts.com" target="_blank">w3layouts</a></p>
		</div>
		<div class="social wow fadeInRight" data-wow-delay="0.4s"> 
			<ul class="footer_social">
			  <li><a href="#"> <i class="fb"> </i> </a></li>
			  <li><a href="#"> <i class="tw"> </i> </a></li>
		   </ul>
		</div>
	    <div class='clearfix'> </div>
	</div>
</div>
</body>
</html>		
